* {
    box-sizing: border-box;
}
body {
    background-color: rgb(63, 63, 63);
}
.main {
    margin: 0 auto;
    min-height: 400px;
    min-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 221, 236);
}
#cart {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    padding: 50px 0;
}

#cart span {
    margin: 15px;
    font-size: 2em;
}

.item {
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px whitesmoke solid;
    width: 340px;
    background-color: rgb(73, 55, 138);
    padding: 20px 10px;
    outline: black 3px solid;
}
#items {
    display: flex;
    gap: 30px;
    padding: 40px 0;
    border-bottom: rgb(165, 165, 165) solid 10px;
}
#items span {
    margin: 15px;
}
.item_cart {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 320px;
    background-color: rgb(73, 55, 138);
    padding: 20px 10px;
    outline: black 3px solid;
    height: 350px;
}
#sum {
    font-size: 3em;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 55, 138);
    text-align: center;
    border: none;
    margin: 30px;
}

.cart_btn_add,
.cart_btn_remove {
    font-size: 2em;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.itemBtn {
    width: 200px;
    height: 70px;
    background-color: rgb(249, 255, 248);
    cursor: pointer;
    font-size: 25px;
    border: indigo 3px solid;
    margin: 50px;
}
